{% include 'base.html' %}
{% include 'nav.html' %}


{% block content %}

<div class="container">
    <h3 class="text-center">Add Doctor</h3>

    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
        <label for="phone">Mobile</label>
        <input type="text" name="phone" class="form-control">
        <label for="special">Special</label>
        <input type="text" name="special" class="form-control">

        <input type="submit" value="Submit" class="form-control btn btn-primary">
    </form>
</div>

{% endblock content %}


{% include 'footer.html' %}