<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Management System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>
            {% if not request.user.is_staff %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login_view' %}">Login</a>
            </li>
            {% endif %}
            {% if request.user.is_staff %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Doctor
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'add_doctor' %}">Add Doctor</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'view_doctor' %}">View Doctor</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Patient
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'add_patient' %}">Add Patient</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'view_patient' %}">View Patient</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Appointment
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'add_appointment' %}">Add Appointment</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'view_appointment' %}">View Appointment</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout_view' %}">Logout</a>
            </li>            
            {% endif %}
        </div>
      </div>
    </nav>
    
    <!-- End Example Code -->
  </body>
</html>